[Unit]
Description=WireGuard API Service
After=network.target

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=
ExecStart=/usr/local/bin/wireguard-api
Restart=on-failure
RestartSec=5

NoNewPrivileges=yes
ProtectHome=no
ProtectClock=yes
ProtectHostname=yes

# Log to a specific file
StandardOutput=append:/var/log/wireguard-api.log
StandardError=append:/var/log/wireguard-api.log

[Install]
WantedBy=multi-user.target
Alias=wireguard-api.service
